* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #FF5400;
  --secondary-color: rgba(90, 90, 93, 100%);
  --nav-list-color: #424247;
  --text-color: rgba(19, 19, 24, 70%);
  --input-background: rgba(19, 19, 24, 5%);
  --heading-text-color: #131318;
  --secondary-text-color: #FFFFFF;
  --primary-font-weight: 800;
  --secondary-font-weight: 400;
  --primary-font-size: 2.8rem;
  --secondary-font-size: 1rem;
  --title-font-size: 1.9rem;
  --background-color: rgba(255, 255, 255, 0.3);
  --discount-background-color: rgba(255, 255, 255, 80%);
  --content-1-color: rgba(255, 181, 99, 5%);
  --content-2-color: rgba(41, 206, 246, 5%);
  --content-3-color: rgba(233, 68, 68, 5%);
  --logo-font-size: 1.4rem;
}
/* base styles */
body {
  font-family: "Mulish", serif;
}
/* sheard styles */
header , main{
 padding: 50px 140px;
}
.sub-title{
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
  color: var(--text-color);
  line-height: 26px;
  margin: 10px;
}

.destination-section ,
.why-choose-us-section ,
.choose-us-content ,
.deals-discounts-section ,
.perfect-getaway-section,
.newsletter-section ,
footer{
  padding-top: 50px;
}
.trust-tagline{
  color: var(--secondary-color);
  margin: 0;
 }
.btn-primary{
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  font-weight: var(--primary-font-weight);
  font-size: 1.3rem;
  transition: 4s;
}
.btn-primary:hover{
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
}
.title{
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
 }
 .overlay-text{
  font-weight: var(--primary-font-weight);
  font-size: var(--title-font-size);
}
/* sheared styles end */
/* navigation- section styles */
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* logo styles here */
 .logo{
  display: flex;
  align-items: center;
}
.logo img{
  max-width: 100%;
}
.logo h3{
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
}
.logo .highlight{
  color: var(--primary-color);
}
/* logo styles end */
.nav-bar > .nav-links{
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  text-decoration: none;
  color: var(--nav-list-color);
  font-weight: var(--primary-font-weight);
  font-size: 1.2rem;
  transition: 1s;
  cursor: pointer;
}
.nav-links a:hover{
  color: var(--primary-color);
}
#check , .hamburger{
  display: none;
}
/* nav section end */
/* banner section styles */
.banner-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 16px;
  text-align: center;
  padding: 106px 185px;
  margin-top: 100px;
}

/* background color styles here top */
/* banner title styles */

.banner-title .banner-sub-title{
  color: var(--secondary-text-color);
}
.banner-title h2{
  font-size: 4rem;
  font-weight: var(--primary-font-weight);
  color: var(--secondary-text-color);
}
/* input field styles */
.input-container{
  display: flex;
  gap: 24px;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 20px;
  margin-top: 80px;
}
input , select , button{
width: 174px;
padding: 16px;
border: none;
border-radius: 8px;
color: var(--secondary-color);
font-size: var(--secondary-font-size);
}
.search{
  font-size: var(--secondary-font-size);
  font-weight: var(--secondary-font-weight);
}
/* input field styles end */
/* header styles end*/
 /*main section styles hear*/ 
 /* popular tour section styles */
 .tour-container{
  display: flex;
  gap: 35px;
 }
 .tour-title ul ,
 .perfect-getaway-title ul{
  margin: 24px;/*sheared styles */
 }
 .tour-title li ,
 .perfect-getaway-title li{
  margin: 20px;/*sheared styles */
 }
 /* popular tour section end */
 /* destination-section styles */
 /* destination image container styles */
 .destination-section {
  text-align: center;
}
.destination-img-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  flex: 1 1 calc(33.33% - 24px); /* Default for 3 columns */
  max-width: calc(33.33% - 24px); /* Ensure no overflow */
}
.img-container img {
  width: 600px;
  height: 300px;
}
.description-text {
  position: absolute;
  color: var(--secondary-text-color);
}
.destination-img-container .img-container:nth-child(1),
.destination-img-container .img-container:nth-child(2) {
  flex: 1 1 calc(50% - 24px); /* Two equal-sized images */
  max-width: calc(50% - 24px);
}
.destination-img-container .img-container:nth-child(3),
.destination-img-container .img-container:nth-child(5) {
  flex: 1 1 calc(25.1% - 24px);
  max-width: calc(25.1% - 24px);
}
.destination-img-container .img-container:nth-child(4) {
  flex: 1 1 calc(50% - 24px); /* Middle image is larger */
  max-width: calc(50% - 24px);
}
.destination-img-container .img-container:nth-child(6),
.destination-img-container .img-container:nth-child(7) {
  flex: 1 1 calc(50% - 24px); /* Two equal-sized images */
  max-width: calc(50% - 24px);
}
/* why-choose-us-section styles here*/
/* why-choose us title styles */
.choose-us-title{
  text-align: center;
}

/* why choose us container styles */
.choose-us-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-items: center;
}
.choose-us-content .content{ 
  padding: 35px;
  border-radius: 16px;
  width: 573px;
  height: 284px;
}
.content img{
  padding-bottom: 15px;
}
.choose-us-item-1{
  background-color: var(--content-1-color);
  border: 2px solid var(--content-1-color);
}
.choose-us-item-2{
  background-color: var(--content-2-color);
  border: 2px solid var(--content-2-color);
}
.choose-us-item-3{
  background-color: var(--content-3-color);
  border: 2px solid var(--content-3-color);
  justify-content: center;
  align-items: center;
  grid-column: span 2;
}
 .heading-title{
 color: var(--heading-text-color);
 }
 /* deals-discounts section  styles*/
 .price{
  color: var(--primary-color);
 }
 .icon-container{
  display: flex;
  gap: 20px;
  align-items: center;
 }
 .right-side{
  background-color: var(--discount-background-color);
  padding: 50px;
  border-radius: 16px 20px;
  width: 570px;
 }
 .column {
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  border-radius: 16px;
  padding: 56px;
}

 .column-wrapper-1 ,
 .column-wrapper-3 {
  display: flex;
  flex-direction: row-reverse;
 }
.deals-discounts-title{
  text-align: center;
  margin-bottom: 50px;
}
  /* deals-discounts section  styles finish*/
 /* A Simple Perfect Place To Get Lost-section */
 .perfect-getaway-container{
  display: flex;
  gap: 50px;
 }
 .perfect-getaway-title li{
  font-weight: 700;
  color: var(--heading-text-color);
 }
.iframe{
  width: 500px;
  height: 400px;
  border-radius: 16px;
}
 /* Newsletter section styles */
 .newsletter-container{
  display: flex;
  gap: 30px;
 }
 .newsletter-wrapper{
  color: var(--secondary-color);
  margin: 0;
}
/* newsletter-img styles */
.newsletter-img {
  position: relative;
}
/* newsletter-logo styles*/
.newsletter-logo {
  position: absolute;
  bottom: 20%; /* Use percentage for relative spacing */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%) rotate(-19.64deg); /* Center horizontally */
  color: #FFFFFF;
  background-color: #FF5400;
  width: 80%; /* Use percentage for responsive width */
  max-width: 324px; /* Set a max-width for larger screens */
  padding: 3%; /* Use percentage for responsive padding */
  border-radius: 16px;
  text-align: center;
}

.newsletter-title{
  border: 1px solid var(--primary-color);
  border-radius: 16px;
  padding: 40px;
}
.newsletter-logo p{
  font-size: var(--logo-font-size);
}
.newsletter-form input{
background-color: var(--input-background);
width: 100%;
margin-bottom: 16px;
padding: 19px;
}
/* hr styles */
.custom-hr{
  border: 0 !important;
  height: 2px !important;
  background-color: var(--input-background);
  margin-bottom: 20px;
  margin-top: 20px;
}
/* footer section styles */
.footer-logo{
  display: flex;
  justify-content: center;
}
.footer-container{
  background-color: var(--input-background);
  text-align: center;
  padding: 110px 300px;
}
.social-icons{
  padding: 30px;
}
/* smaller device responsive */
@media screen and (max-width: 576px) {
  header, 
  main, 
  .banner-container, 
  .footer-container, 
  .right-side, 
  .column {
    padding: 10px;
  }

  /* nav links styles */
  .hamburger {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    transition: right 0.3s ease;
  }

  #check:checked ~ .nav-links {
    right: 0;
  }

  /* nav links styles end */
  .logo h3,
  .title,
  .news-logo {
    font-size: var(--title-font-size);
  }

  .banner-title h2 {
    font-size: 2rem;
  }

  .input-container,
  .tour-container,
  .perfect-getaway-container,
  .newsletter-container,
  .column-wrapper-1,
  .column-wrapper-3 {
    flex-direction: column;
  }

  input, select, button,
  .tour-img img,
  .choose-us-content .content,
  .iframe,
  .newsletter-img img,
  .right-side {
    width: 100%;
    height: auto;
  }


  .choose-us-content {
    grid-template-columns: 1fr;
  }

  .choose-us-item-3 {
    grid-column: span 1;
  }

  .newsletter-logo {
    bottom: 15%;
    width: 90%;
    max-width: 270px;
    padding: 4%;
  }
  .destination-img-container .img-container:nth-child(4) ,
  .destination-img-container .img-container:nth-child(1),
  .destination-img-container .img-container:nth-child(2) ,
  .destination-img-container .img-container:nth-child(3),
  .destination-img-container .img-container:nth-child(5) ,
  .destination-img-container .img-container:nth-child(6),
  .destination-img-container .img-container:nth-child(7){
    flex: 1 1 100%; 
    max-width: 100%;
  }
  .destination-img-container .img-container img {
    width: 100%; 
    height: auto; 
  }
}

/* mudium devices responsiveness */
@media screen and (min-width: 576px) and (max-width: 1024px) {
  header,
  main,
  .banner-container,
  .footer-container,
  .right-side,
  .column {
    padding: 50px;
  }
  .banner-container{
    height: 100%;
  }

  /* Navigation links styles */
  .hamburger {
    display: block;
    order: 1;
    margin-right: 20px;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    top: 80px;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #fff; /* Ensure background for better visibility */
    flex-direction: column;
    align-items: center; /* Center-align links */
    justify-content: center; /* Center vertically */
    transition: right 0.3s ease;
    z-index: 100; /* Ensure it appears above other content */
  }

  #check:checked ~ .nav-links {
    right: 0;
  }

  .nav-links li {
    margin: 20px 0; /* Add spacing between links */
  }

  /* Navigation links styles end */
  .logo h3,
  .title,
  .news-logo {
    font-size: var(--title-font-size);
  }

  .banner-title h2 {
    font-size: 2.8rem;
    text-align: center; /* Center-align text for better layout */
  }

  .input-container,
  .tour-container,
  .perfect-getaway-container,
  .newsletter-container,
  .column-wrapper-1,
  .column-wrapper-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input,
  select,
  button,
  .tour-img img,
  .choose-us-content .content,
  .iframe,
  .newsletter-img img,
  .right-side {
    width: 100%;
    height: auto;
  }


  .choose-us-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; /* Add spacing between items */
  }

  .choose-us-item-3 {
    grid-column: span 1;
  }
  .newsletter-logo {
    bottom: 10%;
    width: 90%;
    max-width: 240px;
    padding: 5%;
    font-size: var(--secondary-font-size);
  }
 
  .newsletter-container {
    align-items: center;
    text-align: center; /* Center-align the text */
  }
  .destination-img-container .img-container:nth-child(4) ,
  .destination-img-container .img-container:nth-child(1),
  .destination-img-container .img-container:nth-child(2) ,
  .destination-img-container .img-container:nth-child(3),
  .destination-img-container .img-container:nth-child(5) ,
  .destination-img-container .img-container:nth-child(6),
  .destination-img-container .img-container:nth-child(7){
    flex: 1 1 100%; 
    max-width: 100%;
  }
  .destination-img-container .img-container img {
    width: 100%; 
    height: auto; 
  }
}

